<!DOCTYPE html>

<html>
<head>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*课堂教学评价管理平台|EMB|朱盟的毕业设计*@
    <title>@ViewBag.Title</title>

    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    @Styles.Render("~/Content/user/css")
    @Scripts.Render("~/bundles/user/main")
</head>
<body>

    <nav id="menu" class="menu">
        <button class="menu__handle"><span>Menu</span></button>
        <div class="menu__inner">
            <ul>

                <li>
                    <a id="login" href="index.html">
                        <p align="center">
                            <span>
                                Bui
                                <img src="../Content/images/biu.png" class=" img-thumbnail img-fluid" width="36px" />
                                <span class="badge badge-dark menu-tip-ico">2</span>
                            </span>
                        </p>
                    </a>
                </li>

                <li>
                    <a href="Evalution.html">
                        <p align="center">
                            <span>
                                判
                                <img src="../Content/images/evaluation.png" class=" img-thumbnail img-fluid" width="36px" />
                                <span class="badge badge-danger menu-tip-ico">3</span>
                            </span>
                        </p>
                    </a>
                </li>
                <li>
                    <a href="History.html">
                        <p align="center">
                            <span>
                                观
                                <img src="../Content/images/history.png" class=" img-thumbnail img-fluid" width="36px" />
                                <span class="badge badge-warning menu-tip-ico">3</span>
                            </span>
                        </p>
                    </a>
                </li>
                <li>
                    <a href="Community.html">
                        <p align="center">
                            <span>
                                语
                                <img src="../Content/images/community.png" class=" img-thumbnail img-fluid" width="36px" />
                                <span class="badge badge-success menu-tip-ico">3</span>
                            </span>

                        </p>
                    </a>
                </li>
                <li>
                    <a href="Edit.html">
                        <p align="center">
                            <span>
                                书
                                <img src="../Content/images/write.png" class=" img-thumbnail img-fluid" width="36px" />
                                <span class="badge badge-primary menu-tip-ico">3</span>
                            </span>
                        </p>
                    </a>

                </li>

                <li>
                    <a href="register.html" target="_blank">
                        <p align="center">
                            <span>
                                <img src="../Content/images/register.png" class=" img-thumbnail img-fluid" width="32px" />
                            </span>

                            | 入
                        </p>
                    </a>
                </li>
            </ul>
        </div>


        <div class="morph-shape" data-morph-open="M300-10c0,0,295,164,295,410c0,232-295,410-295,410"
             data-morph-close="M300-10C300-10,5,154,5,400c0,232,295,410,295,410">
            <svg width="100%" height="100%" viewbox="0 0 600 800" preserveaspectratio="none">
                <path fill="none" d="M300-10c0,0,0,164,0,410c0,232,0,410,0,410" />
            </svg>
        </div>

    </nav>


    <nav class="navbar navbar-expand-sm fixed-top">

        <a class="navbar-brand" href="#">
            <img class="img-thumbnail img-fluid" width="32px" src="../Content/images/user.png">
        </a>
        <span class="navbar-text">
            <small>吃火星的宝宝</small>
        </span>

    </nav>


    @RenderBody()

    <nav class="nav justify-content-center navbar-light  ">
        <span class="navbar-text">
            <small> Based on .NET MVC . Design Power By EMB (吃火星的宝宝)-15级-金融三班朱盟 .</small>
        </span>

        <ul class="nav ">
            <li class="nav-item">
                <a class="nav-link text-secondary" href="javascript:void(0)">关于我</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" href="javascript:void(0)">问题反馈</a>
            </li>
        </ul>
    </nav>


    <script>
            (function() {


                function SVGMenu(el, options) {
                    this.el = el;
                    this.init();
                }

                SVGMenu.prototype.init = function() {
                    this.trigger = this.el.querySelector('button.menu__handle');
                    this.shapeEl = this.el.querySelector('div.morph-shape');

                    var s = Snap(this.shapeEl.querySelector('svg'));
                    this.pathEl = s.select('path');
                    this.paths = {
                        reset: this.pathEl.attr('d'),
                        open: this.shapeEl.getAttribute('data-morph-open'),
                        close: this.shapeEl.getAttribute('data-morph-close')
                    };

                    this.isOpen = false;

                    this.initEvents();
                };

                SVGMenu.prototype.initEvents = function() {
                    this.trigger.addEventListener('click', this.toggle.bind(this));
                };

                SVGMenu.prototype.toggle = function() {
                    var self = this;

                    if (this.isOpen) {
                        classie.remove(self.el, 'menu--anim');
                        setTimeout(function() {
                            classie.remove(self.el, 'menu--open');
                        }, 250);
                    } else {
                        classie.add(self.el, 'menu--anim');
                        setTimeout(function() {
                            classie.add(self.el, 'menu--open');
                        }, 250);
                    }
                    this.pathEl.stop().animate({
                        'path': this.isOpen ? this.paths.close : this.paths.open
                    }, 350, mina.easeout, function() {
                        self.pathEl.stop().animate({
                            'path': self.paths.reset
                        }, 800, mina.elastic);
                    });

                    this.isOpen = !this.isOpen;
                };

                new SVGMenu(document.getElementById('menu'));

            })();
    </script>
</body>
</html>
