<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
  </configSections>
  <log4net>
    <root>
      <level value="All"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>

    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log\logfile.htm"/>
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <datePattern value="yyyyMMdd"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="1MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <!--<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>-->
        <Header value="&lt;html&gt;
&lt;head&gt;
  &lt;title&gt;CTEP 系统日志&lt;/title&gt;
  &lt;meta name='viewport' content='width=device-width, initial-scale=1'&gt;
  &lt;link rel='stylesheet' href='https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css'&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;div class='container'&gt;
  &lt;h2&gt;CTEP 系统日志&lt;/h2&gt;       
  &lt;table class='table table-dark table-hover'&gt;
    &lt;tbody&gt;"/>
        <param name="ConversionPattern" value="
&lt;tr &gt;
&lt;td&gt;类型：%-5p&lt;td/&gt;
&lt;td&gt;时间：%d  &lt;td/&gt;
&lt;td&gt;类：%c &lt;td/&gt;
&lt;td&gt;线程:[%t] &lt;td/&gt;
&lt;td&gt;设备:%property&lt;td/&gt;
&lt;td&gt;信息:%m&lt;td/&gt;
&lt;/tr&gt;
"/>
        <Footer value=" &lt;/tbody&gt;
  &lt;/table&gt;
&lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;"/>
      </layout>
    </appender>
  </log4net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
