
@{
    ViewBag.Title = "Community";
}

<h2>Community</h2>

<div id="community" class="layui-fluid hidden ">
    <div class="layui-card">
        <div class="layui-card-body">

            <div class="d-flex">
                <div id="leftC" class="p-2">
                    <div id="formItem" class="layui-collapse" lay-accordion>

                        <div class="layui-colla-item">
                            <h2 class="layui-colla-title">软件工程</h2>
                            <div class="layui-colla-content layui-show">内容区域</div>
                        </div>
                        <div class="layui-colla-item">
                            <h2 class="layui-colla-title">软件测试</h2>
                            <div class="layui-colla-content layui-show">
                                <a class="btn-link"></a>

                            </div>
                        </div>
                        <div class="layui-colla-item">
                            <h2 class="layui-colla-title">大学体育</h2>
                            <div class="layui-colla-content layui-show">内容区域</div>
                        </div>


                    </div>
                </div>
                <div class="p-2 flex-grow-1" id="rightC">

                    <div class="layui-card">
                        <div class="layui-card-body">
                            <ul id="assessUL" class="layui-timeline"></ul>



                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>

<script>

    layui.use('element', function () {
        var element = layui.element;

    });

    String.prototype.format = function () {
        if (arguments.length == 0) return this;
        var param = arguments[0];
        var s = this;
        if (typeof (param) == 'object') {
            for (var key in param)
                s = s.replace(new RegExp("\\{" + key + "\\}", "g"), param[key]);
            return s;
        } else {
            for (var i = 0; i < arguments.length; i++)
                s = s.replace(new RegExp("\\{" + i + "\\}", "g"), arguments[i]);
            return s;
        }
    }
    var index = layer.open({
        type: 1,//类型
        area: '600px',//定义宽和高
        title: "你好！",//题目
        shade: 0,
        shadeClose: false,//点击遮罩层关闭
        content: $('#community'),//打开的内容
        maxmin: true,
        closeBtn: false,
        scrollbar: false,
        resizing: function (layero) {
            let hight = parseInt(layero.css("height").replace("px", ""));
            let width = parseInt(layero.css("width").replace("px", ""));
            $("#leftC").css("height", hight - 70 + "px");
            $("#rightC").css("height", hight - 70 + "px");
        }
    });

    let _form = ' <div class="layui-colla-item"><h2 class="layui-colla-title">{title}-{StatusNum}</h2><div class="layui-colla-content layui-show"></div></div>';
    let _LI = '<li id="assID_{ID}" class="layui-timeline-item"><i class="layui-icon layui-timeline-axis">&#xe63f;</i><div class="layui-timeline-content layui-text"><h3 class="layui-timeline-title">{TIME_CREATE}</h3> {S_Desc}</div></li>'


    function Brush(data) {
        var ul = $("#assessUL");
        var Items = $("#formItem");

        for (let i in data) {
            let element = data[i]
            Items.append(_form.format(element));
            let assList = element.body
            for (let n in assList) {
                ul.append(_LI.format(assList[n]));
            }
        }
    }
    $(document).ready(function () {
        _GetData("emb_assess", function (data) {
             Brush(data);
        });
       

    });















</script>