
@{
    ViewBag.Title = "Community";
}

<h2>Community</h2>

<div class="container border" style="margin-top: 6em;padding: 0">
    <div class="row">
        <div class="col-sm-2" style="margin: 0;padding-right: 0">
            <div class="list-group " style="height: 100%;
          overflow-x: hidden;
          overflow-y: scroll;
          text-align: center;
          font-size: small;">
                <a href="#" class="list-group-item  list-group-item-action">First item</a>
                <a href="#" class="list-group-item list-group-item-action">Second item</a>
                <a href="#" class="list-group-item list-group-item-action">Third item</a>
                <a href="#" class="list-group-item  list-group-item-action">First item</a>
                <a href="#" class="list-group-item list-group-item-action">Second item</a>
                <a href="#" class="list-group-item list-group-item-action">Third item</a>
                <a href="#" class="list-group-item list-group-item-action">Third item</a>
                <a href="#" class="list-group-item list-group-item-action">Third item</a>
                <a href="#" class="list-group-item list-group-item-action">Third item</a>
                <a href="#" class="list-group-item list-group-item-action">Third item</a>
                <a href="#" class="list-group-item list-group-item-action">Third item</a>
                <a href="#" class="list-group-item list-group-item-action">Third item</a>
            </div>
        </div>

        <div class="col-sm-10" style="margin: 0;padding-left: 0;">
            <div class="card border" style="height:100%;  margin: 0;">
                <div class="card-header ">课程讨论</div>
                <div class="card-body" style="height:30em;  margin: 0;
            overflow-x: hidden;
            overflow-y: scroll;
            text-align: center;
            font-size: small;">


                    <div class="alert alert-dismissible border rounded-0">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <a href="#" class="alert-link" style="float:left;">
                            <img src="../content/images/biu.png" style=" width: 2em;">
                            <span class="badge badge-secondary">2019-12-1 2:00:34  </span>
                           
                        </a>
                        <strong>吃火星的宝宝:</strong>
                        欢迎使用！
                        <a href="#" class="alert-link">
                            <span class="badge badge-pill bg-warning">附件:ctep.exe</span>
                        </a>
                    </div>


                </div>




                <div class="card-footer">

                    <form class="form-inline flex-row-reverse">
                        <button type="submit" class="btn btn-outline-info btn-sm rounded-0" style="margin-left:1em">发送</button>
                        <input type="text" class="form-control form-control-sm w-75 rounded-0 " id="email"
                               placeholder="Enter Ms" />
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
