@{
    ViewBag.Title = "关于我们";
}

<address>
    <a href="https://github.com/embaobao/EM" target="_blank">Git Hub</a>  <br />
    河南|洛阳<br />
    <abbr title="Phone">PhoneNumber:</abbr>
    15515365219
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:1132067567@qq.com">1132067567@qq.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:chihuoxingdebaobao@163.com">chihuoxingdebaobao@163.com</a>
</address>