@{
    ViewBag.Title = "Home Page";
}


<div class="card">
    <div class="card-body">
        <div class="container">


            <div class="alert alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <div class="jumbotron">
                    <h1>课堂教学评价管理平台</h1>
                    <p class="card-text">
                        EMB课堂教学评价管理平台是以提高教学质量为目的
                    </p>
                    <p class="card-text">
                        让学生即时评价教学课堂的质量反映教师的课堂状态和教学水平
                    </p>
                    <p class="card-text"> 从数据角度分析督促教学质量 的提高</p>
                </div>


            </div>


            <div class="alert alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4 class="card-title">Bui！<span class="text-muted" id="welcomTxt"></span></h4>

                <p class="card-text">

                    <svg class="icon-xxlg" aria-hidden="true">
                        <use xlink:href="#icon-emoji_kaixin"></use>
                    </svg>

                </p>
                <p class="card-text">我们希望通过 以 [Bui！-推荐信息] 的方式，来简化您的操作.</p>
                <p> 希望他可以减少您停留在操作的时间！</p>
            </div>
        </div>
    </div>


</div>


<div class="alert alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <div class="container">
        <h4>功能介绍</h4>


        <ul class="list-group">

            <li class="list-group-item list-group-item-light">
                <dl>
                    <dt><a href="../Home/Evalution" target="_blank">判</a></dt>
                    <dd>-IF 您是学生 您要评价课程 请点 [<a href="../Home/Evalution" target="_blank">判</a>]</dd>

                    <dd>-IF 您是老师 -"<a href="../Home/Evalution" target="_blank">判</a>"- 这里可以发布您的课程 </dd>
                </dl>
            </li>
            <li class="list-group-item list-group-item-light">
                <dl>

                    <dt>
                        <a href="../Home/Histroy" target="_blank">观</a>
                    </dt>
                    <dd>-若 您是学生想要看到已经提交的评价，并修改评价  请点 [<a href="../Home/Histroy" target="_blank">观</a>]</dd>
                    <dd>-若 您在老师  -"<a href="../Home/Histroy" target="_blank">观</a>"-这里 您可以看到您的评价数据图 来分析您的教学质量.</dd>
                </dl>
            </li>
            <li class="list-group-item list-group-item-light">
                <dl>
                    <dt>
                        <a href="../Home/Community" target="_blank">语</a>
                    </dt>
                    <dd> 无论是谁-您都可以在-"<a href="../Home/Community" target="_blank">语</a>"-这里 看到他人的评论以及对课程的评价，并发表您的见解，参与讨论.</dd>
                </dl>
            </li>
            <li class="list-group-item list-group-item-light">
                <dl>

                    <dt>
                        <a href="../Home/Edit" target="_blank">撰</a>
                    </dt>
                    <dd>-您在 -"<a href="../Home/Edit" target="_blank">撰</a>"-这里 可以看到和修改个人的信息，及和您绑定的永久和暂时评价对象.</dd>
                </dl>
            </li>
            <li class="list-group-item list-group-item-light">
                <dl>
                    <dt>
                        <a href="../Home/Register" target="_blank">入</a>
                    </dt>
                    <dd>-您在 -"<a href="../Home/Register" target="_blank">入</a>"-这里在这里您可以加入我们，申请您的账户，更重要的是这是您登陆的入口.</dd>
                </dl>
            </li>
        </ul>

    </div>

</div>


<div class="alert alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <div class="container">
        <blockquote class="blockquote">
            <p>
                没有人不爱惜他的生命，但很少人珍视他的时间。
            </p>
            <footer class="blockquote-footer">From 梁实秋</footer>
        </blockquote>
    </div>

</div>

